@using EnchantElegance.Application.DTOs;
@using EnchantElegance.Domain.Entities;
@model ProductUpdateDTO
<!-- START PAGE CONTENT-->
<div class="page-heading">
	<h1 class="page-title">Product</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html"><i class="la la-home font-20"></i></a>
		</li>
		<li class="breadcrumb-item">Update Product</li>
	</ol>
</div>
<div class="page-content fade-in-up">
	<div class="row">
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-head">
					<div class="ibox-tools">
						<a class="ibox-collapse"><i class="fa fa-minus"></i></a>
						<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item">option 1</a>
							<a class="dropdown-item">option 2</a>
						</div>
					</div>
				</div>
				<div class="ibox-body">
					<form method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="form-group">
								<img style="width:150px;height:150px;" src="~/assets/img/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.Url">
								<input asp-for="ProductImages" type="hidden">
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="MainPhoto">Main Image</label>
								<input asp-for="MainPhoto" class="form-control" accept="image/*" placeholder="Main Image">
								<span class="text-danger" asp-validation-for="MainPhoto"></span>
							</div>
							<div class="form-group">
								<img style="width:150px;height:150px;" src="~/assets/img/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false)?.Url">
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="HoverPhoto">Hover Image</label>
								<input asp-for="HoverPhoto" class="form-control" accept="image/*" placeholder="Hover Image">
								<span class="text-danger" asp-validation-for="HoverPhoto"></span>
							</div>
							<div class="form-group">
								@foreach (ProductImages image in Model.ProductImages.Where(pi=>pi.IsPrimary==null))
								{
									<img style="width:150px;height:150px;" src="~/assets/img/@image.Url">
								}
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="Photos">Additional Images</label>
								<input asp-for="Photos" class="form-control" accept="image/*" placeholder="Images">
								<span class="text-danger" asp-validation-for="Photos"></span>
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="Name"> Name</label>
								<input asp-for="Name" class="form-control" placeholder="Name">
								<span class="text-danger" asp-validation-for="Name"></span>
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="Description">Description</label>
								<input asp-for="Description" class="form-control" placeholder="Description">
								<span class="text-danger" asp-validation-for="Description"></span>
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="OldPrice">Old Price</label>
								<input asp-for="OldPrice" class="form-control" placeholder="OldPrice">
								<span class="text-danger" asp-validation-for="OldPrice"></span>
							</div>
							<div class="col-sm-6 form-group">
								<label asp-for="CurrentPrice">Current Price</label>
								<input asp-for="CurrentPrice" class="form-control" placeholder="CurrentPrice">
								<span class="text-danger" asp-validation-for="CurrentPrice"></span>
							</div>
							<div class="form-group">
								<label asp-for="CategoryId">Category</label>
								<select asp-for="CategoryId" class="form-control" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))"></select>
								<span class="text-danger" asp-validation-for="CategoryId"></span>
							</div>
							<div class="form-group">
								<label asp-for="ColorIds">Colors</label>
								<select asp-for="ColorIds" class="form-control" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))"></select>
								<span class="text-danger" asp-validation-for="ColorIds"></span>
							</div>


						</div>
						<div class="form-group">
							<button class="btn btn-success" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->