
<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <div class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><span>Privacy Policy</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb section -->
    <!-- Start privacy policy section -->
    <div class="privacy__policy--section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="privacy__policy--content">
                        <h2 class="privacy__policy--content__title">Privacy Policy for BeCute Cosmetics</h2>
                        <p class="privacy__policy--content__desc">Effective Date: 31.12.2026</p>
                    </div>
                    <div class="privacy__policy--content section_2">
                        <h3 class="privacy__policy--content__subtitle">Welcome to BeCute Cosmetics! We highly value your trust and are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal 
                            information when you use our website.</h3>
                        <h2 class="privacy__policy--content__title">Information We Collect:</h2>

                        <p class="privacy__policy--content__desc">
                            Personal Information: When you create an account or make a purchase, we collect personal information such as your name, email address, shipping address, and payment details.

                            Usage Information: We gather information about how you interact with our website, including pages visited, time spent on each page, and your IP address.

                            Cookies: We use cookies to enhance your browsing experience and collect data about your preferences and activities on our site.
                        </p>
                        <h3 class="privacy__policy--content__subtitle">How We Use Your Information</h3>
                        <p class="privacy__policy--content__desc">
                            Order Processing: We use your personal information to process and fulfill your orders, including shipping and payment processing.

                            Personalization: We may use your data to personalize your shopping experience, recommend products, and provide targeted advertisements.

                            Communication: We may contact you with order updates, promotional offers, and newsletters. You can opt-out of promotional communications at any time.
                        </p>
                        <h3 class="privacy__policy--content__subtitle">Information Sharing:</h3>
                        <p class="privacy__policy--content__desc">
                            Third-Party Service Providers: We may share your information with trusted third-party service providers who assist us in operating our website, conducting business, and serving you.

                            Legal Compliance: We may disclose your information if required by law or in response to legal requests.
                        </p>
                        <h3 class="privacy__policy--content__subtitle">Data Security</h3>
                        <p class="privacy__policy--content__desc">We implement industry-standard security measures to protect your personal information. However, no method of transmission over the internet or electronic storage is 100% secure.</p>
                    </div>
                    <div class="privacy__policy--content section_3">
                        <h2 class="privacy__policy--content__title">Your Choices</h2>
                        <p class="privacy__policy--content__desc">You can manage your communication preferences and update your personal information through your account settings. You have the right to request access, correction, or deletion of your personal data.</p>
                    </div>
                    <div class="privacy__policy--content section_3">
                        <h2 class="privacy__policy--content__title">Updates to Privacy Policy</h2>
                        <p class="privacy__policy--content__desc">
                            We reserve the right to update our Privacy Policy, and any changes will be posted on this page with the updated effective date.

                            By using our website, you consent to the terms outlined in this Privacy Policy.

                            If you have any questions or concerns, please contact our customer service at [BeCute@gmail.com].

                            Thank you for choosing BeCute Cosmetics!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End privacy policy section -->
    <!-- Start feature section -->
    <section class="feature__section section--padding pt-0">
        <div class="container">
            <div class="feature__inner d-flex justify-content-between">
                <div class="feature__items d-flex align-items-center">
                    <div class="feature__icon">
                        <img src="~/assets/img/other/feature1.webp" alt="img">
                    </div>
                    <div class="feature__content">
                        <h2 class="feature__content--title h3">Free Shipping</h2>
                        <p class="feature__content--desc">Free shipping over $100</p>
                    </div>
                </div>
                <div class="feature__items d-flex align-items-center">
                    <div class="feature__icon ">
                        <img src="~/assets/img/other/feature2.webp" alt="img">
                    </div>
                    <div class="feature__content">
                        <h2 class="feature__content--title h3">Support 24/7</h2>
                        <p class="feature__content--desc">Contact us 24 hours a day</p>
                    </div>
                </div>
                <div class="feature__items d-flex align-items-center">
                    <div class="feature__icon">
                        <img src="~/assets/img/other/feature3.webp" alt="img">
                    </div>
                    <div class="feature__content">
                        <h2 class="feature__content--title h3">100% Money Back</h2>
                        <p class="feature__content--desc">You have 30 days to Return</p>
                    </div>
                </div>
                <div class="feature__items d-flex align-items-center">
                    <div class="feature__icon">
                        <img src="~/assets/img/other/feature4.webp" alt="img">
                    </div>
                    <div class="feature__content">
                        <h2 class="feature__content--title h3">Payment Secure</h2>
                        <p class="feature__content--desc">We ensure secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature section -->

</main>